.transactionHistory {
    margin: 15px;
    table-layout: fixed;
    width: 400px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
}

th {
    font-weight: bold;
    padding: 5px;
    background: #00bcd5;

}

td {
    padding: 5px 10px;
    padding-left: 40px;
    text-align: left;
    text-transform: capitalize;
        /* border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px; */
}

tbody tr:nth-child(odd) {
    background: #fff;
}

tbody tr:nth-child(even) {
    background: #f7f7f7;
}

